/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

/.idea
composer.lock
/bower_components
/public_html/images/upload
/public_html/images/banners
/public_html/images/news
/public_html/images/pages
/public_html/images/showcases
/public_html/files/showcases
/storage/files/student_files