@import variables
@import common

body
  font-family: $main-font
  font-weight: 400
  font-size: 10pt

a
  color: $dark-gray-color
  text-decoration: none !important
  img
    border: none
  &:hover
    color: #000
h1
  font-family: $style-font
.body-content
  padding-bottom: 30px
  padding-top: 10px
  min-height: 600px
  .page-banner
    display: inline-block
    margin-bottom: 10px
// top bar
.top-bar
  background-color: #eee
  padding: 10px 0
  .mini-nav
    text-align: right
    a
      font-size: .9em
  #nav-logo
    width: 180px
    padding-right: 20px

.breadcrumb a
  color: $main-color
  font-size: .9em

// top bar nav
#my-nav,
#my-nav ul,
#my-nav ul li,
#my-nav ul li a,
#my-nav #menu-button
  margin: 0
  padding: 0
  border: 0
  list-style: none
  line-height: 1
  letter-spacing: 0 !important
  display: block
  position: relative
  +box-sizing(border-box)
  font-family: $style-font

#my-nav:after, #my-nav > ul:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

#my-nav #menu-button
  display: none

#my-nav > ul
  float: right
#my-nav > ul > li
  float: left
  .active
    background-color: $main-color
    a
      color: #ffffff
  a
    padding: 12px
    font-size: 16pt
    letter-spacing: 1px
    text-decoration: none
    color: $dark-gray-color
  a.active
    color: #ffffff
  &:hover
    background-color: $dark-gray-color

#my-nav > ul > li:hover > a
  color: #ffffff

#my-nav ul ul
  position: absolute
  left: -9999px
  z-index: 20

#my-nav ul ul
  text-align: left

#my-nav ul ul li
  float: left
  height: 0
  +transition(all .25s ease)

#my-nav li:hover > ul
  left: auto

#my-nav li:hover > ul > li
  height: 35px

#my-nav ul ul li a:before
  content: ">"
  padding-right: 8px

#my-nav ul ul li a
  border-bottom: 1px solid rgba(150, 150, 150, 0.15)
  padding: 11px 15px
  width: 290px
  font-size: 12px
  text-decoration: none
  color: #eeeeee
  background: rgba(105, 105, 105, 0.95)
  font-family: $main-font
  font-weight: bold

#my-nav ul ul li:last-child > a,
#my-nav ul ul li.last-item > a
  border-bottom: 0

#my-nav ul ul li:hover > a,
#my-nav ul ul li a:hover
  color: $main-color

.highlight-box
  padding: 10px 10px 0
  margin: 10px 5px
  .item
    padding: 15px
    margin: 0 auto
    img
      padding: 5px 0
      &:hover
        opacity: 0.9
        filter: alpha(opacity=90) /* For IE8 and earlier */
  h2
    margin-top: 0
    font-family: $style-font
  p
    color: $dark-gray-color-2
    font-size: 1.1em
  .col-sm-3
    padding: 5px 5px 10px

.highlight-box-light .item
  background-color: #eee

.highlight-box-dark .item
  background-color: $dark-gray-color-2
  &:hover
    opacity: 0.9
    filter: alpha(opacity=90) /* For IE8 and earlier */
    +transition(.3s)
    cursor: pointer
  img
    border: 5px solid #fff
    padding: 0 !important
  h2
    color: #fff
    margin-top: 10px
    margin-bottom: 0
    text-transform: uppercase
  span
    color: $main-color
    font-size: 1.2em


.highlight-box-special
  .col-sm-3
    padding: 0 5px
  .item-container
    background-color: #000
    padding: 1px
    margin: 0 auto 20px
    color: #fff
    img
      opacity: 0.8
      filter: alpha(opacity=80) /* For IE8 and earlier */
    .content
      color: $dark-gray-color
      padding: 10px
      h4
        font-family: $style-font
        text-transform: uppercase
        a:hover
          color: #fff
      p
        font-size: .9em
        height: 70px
      a
        font-size: .8em
        &:hover
          color: $main-color
    &:hover img
      opacity: 1
      filter: alpha(opacity=100) /* For IE8 and earlier */
    &:hover .content
      color: #fff
    &:hover h4 a
      color: #fff
    &:hover a
      color: $main-color



.follow-bar
  background-color: #eee
  padding: 20px 0
  i
    color: #999
  h2
    font-family: $style-font
    font-size: 16pt
    font-weight: 300
    margin: 0
  .col-sm-4
    border-right: 1px dashed $dark-gray-color
    padding: 10px
    text-align: center
    &:last-child
      border-right: none
  .link:hover
    color: $main-color
    cursor: pointer
    i
      color: $main-color
  .social-bar
    margin-top: 5px
    i:hover
      color: $main-color
      cursor: pointer


//banner
.carousel
  .carousel-control
    width: 5%
  .carousel-indicators
    position: absolute
    right: 40px
    left: auto
    width: 100px
    text-align: right
    .active
      background-color: $main-color
      border-color: $main-color
  .carousel-caption
    background-color: rgba(0, 0, 0, .4)
    padding: 10px 15px
    color: #fff
    max-width: 500px
    position: absolute
    bottom: 0
    left: 45%
    right: 15%
    h1, h3
      font-weight: 300
      padding-top: 0
      margin-top: 0
      text-align: left
    a
      background-color: $main-color
      font-weight: bold
      padding: 5px 8px
      font-family: $style-font
      float: right
      color: #fff
      &:hover
        color: #000
  .carousel-caption-mobile
    background-color: $dark-gray-color
    padding: 5px 10px
    color: #fff
    h1, h2
      padding-top: 0
      margin-top: 0
      text-align: left
    a
      background-color: $main-color
      font-weight: bold
      padding: 5px 8px
      font-family: $style-font
      float: right
      color: #fff
      &:hover
        color: #000

// quick link bar
.quick-link-bar
  background-color: #eee
  padding: 20px 0 40px
  h4
    font-family: $style-font
    color: $dark-gray-color
    margin: 15px auto 10px
    font-weight: 300
    font-size: 1.8em
  ul
    list-style-type: none
    margin: 0
    padding: 0
  a
    letter-spacing: -.1px
    font-weight: bold
    color: #000
    font-size: 1.2em
    &:hover
      color: $main-color

// footer
.footer
  font-size: .9em
  background-color: $dark-gray-color-2
  color: #fff
  padding: 10px 0


// ------  mobile display  --------
@media all and (max-width: 768px)
  #my-nav
    width: 100%
    ul
      width: 100%
      display: none
      background-color: #ddd
      li
        width: 100%
        border-top: 1px solid rgba(120, 120, 120, 0.3)
        float: none
        text-align: left
        &:first-child
          border-top: 0
        &:hover .submenu-button:after
          background-color: #eee
        &:hover .submenu-button:before
          background-color: #eeeeee
        a
          font-size: 12pt
  #my-nav ul li.active
    background-color: $dark-gray-color
    a
      color: #fff
  #my-nav.align-center > ul
    text-align: left

  #my-nav ul ul li,
  #my-nav li:hover > ul > li
    height: auto

  #my-nav ul li a,
  #my-nav ul ul li a
    width: 100%
    border-bottom: 0

  #my-nav ul ul li a
    padding-left: 25px
    color: #fff
    background: none
    &:before
      content: '> '

  #my-nav ul ul li:hover > a,
  #my-nav ul ul li.active > a
    color: $main-color

  #my-nav ul ul,
  #my-nav.align-right ul ul
    position: relative
    left: 0
    width: 100%
    margin: 0
    text-align: left

  #my-nav > ul > li.has-sub > a:after,
  #my-nav > ul > li.has-sub > a:before
    display: none

  #my-nav #menu-button
    margin-top: 10px
    display: inline-block
    padding: 17px 23px
    color: $dark-gray-color
    cursor: pointer
    background-color: #ddd
    &:after
      position: absolute
      top: 17px
      right: 13px
      display: block
      height: 8px
      width: 20px
      border-top: 2px solid $dark-gray-color
      border-bottom: 2px solid $dark-gray-color
      content: ''
      +transition(.5s)
    &:before
      position: absolute
      top: 11px
      right: 13px
      display: block
      height: 2px
      width: 20px
      background: $dark-gray-color
      content: ''
      +transition(.5s)
  #my-nav #menu-button.menu-opened:after
    top: 17px
    right: 15px
    border: 0
    height: 2px
    width: 17px
    background: $dark-gray-color
    +transform(rotate(45deg))
    +transition(.5s)
  #my-nav #menu-button.menu-opened:before
    top: 17px
    right: 15px
    height: 2px
    width: 17px
    background: $dark-gray-color
    +transform(rotate(-45deg))
    +transition(.5s)
  #my-nav .submenu-button
    position: absolute
    z-index: 99
    right: 0
    top: 0
    display: block
    border-left: 1px solid rgba(120, 120, 120, 0.2)
    height: 40px
    width: 40px
    cursor: pointer
    &:after
      position: absolute
      top: 18px
      right: 15px
      width: 8px
      height: 2px
      display: block
      background: $dark-gray-color
      content: ''
    &:before
      position: absolute
      top: 15px
      right: 18px
      display: block
      width: 2px
      height: 8px
      background: $dark-gray-color
      content: ''

  #my-nav .submenu-button.submenu-opened
    background: $dark-gray-color

  #my-nav ul ul.open li
    background-color: $dark-gray-color

  #my-nav .submenu-button.submenu-opened:after
    background: #eee

  #my-nav .submenu-button.submenu-opened:before
    display: none

  .mini-nav a
    font-size: .8em !important
  .carousel-indicators
    top: 10px
    right: 20px !important
  #nav-logo
    width: 130px !important
  .follow-bar
    .social-bar i
      font-size: 2em
      display: inline-block
      margin: 2px 5px
    .col-sm-4
      border-right: none
      border-bottom: 1px dashed $dark-gray-color
      &:last-child
        border-bottom: none
  .quick-link-bar
    text-align: center
  .highlight-box-special .item-container .content p
    height: auto
  .highlight-box
    padding: 0
    margin: 0
  .item
    padding: 15px
    margin: 0 auto
  p
    font-size: 1em